    <footer id="footer" class="footer clearfix" role="contentinfo">
      <div class="section-content">
        <div class="scroll-buttons"><button id="scroll_left">Scroll Left</button> <button id="scroll_right">Scroll Right</button></div>
      	<div class="footer-contact h-card">
          Text &copy;2018 Ted White. All rights reserved. 
      	</div>
      </div><!--/.section-content-->
    </footer>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Widowtamer -->
    <script src="{{ page.rootpathoffset }}assets/js/vendor/widowtamer-min.js" defer></script>

    <script src="{{ page.rootpathoffset }}assets/js/main.js" defer></script>

  </body>
</html>
