---
---

@charset 'UTF-8';

/* Amstelvar Variable Font */
/*
  Variations used:
    wght (38-250)
    wdth (60-769)
    OPSZ (12-72)
    GRAD (88-150)
*/
@font-face {
  font-family: 'Amstelvar VF';
  src: url('../fonts/AmstelvarAlpha-VF.ttf') format('truetype');
  font-display: swap;
}

/* Voto Serif Variable Font */
/*
  Variations used:
    wght (28-194)
    wdth (50-130)
    OPSZ (12-72)
*/
@font-face {
  font-family: 'Voto Serif GX';
  src: url('../fonts/VotoSerifGX.ttf') format('truetype');
  font-display: swap;
}

/* FF Meta Variable Demo Font */
@font-face {
  font-family: 'FF Meta VF';
  src: url('../fonts/meta-vf/MetaVariableDemo-Set.woff2') format('woff2');
  font-display: swap;
  font-style: normal italic;
  font-weight: 100 900;
}
@supports not (font-variation-settings: normal) {
  @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i');
}
